<!-- <div class="pado-card">
  <h1>
    {{getData()[0].title}}
  </h1>
  <p>{{getData()[0].id}}</p>
  <img [src]="getData()[0].imageUrl" alt="img">
</div> -->
<app-card></app-card>


<div class="container">

  <div *ngFor="let myData of getData()" class="pado-card">
    <h1>
      {{myData.title}}
    </h1>
    <p>{{myData.id}}</p>
    <img [src]="myData.imageUrl" alt="img">
  </div>

</div>

<div>
  <p>
    My First App! {{getTitle()}}
  </p>
</div>

<div>
  <label for="">Title: </label>
  <input (change)="setTitle($event)" type="text">
</div>

<div>
  <input [value]="getTitle()" type="text" disabled>
</div>

<router-outlet></router-outlet>
